<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Premium Membership Signup</h1>
    <form action="" method="post">
        <p>Frist Name<input type="text" name="" id=""></p>
        <p>Password<input type="password" name="" id=""></p>
        <p>Email<input type="email" name="" id=""></p>
        <p>Date of Birth<input type="date" name="" id=""></p>
        <p><input type="submit" values=Sign up></p>

    </form>
    
</body>
</html>